<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/23509811-23a1-472b-857a-e1ab0c7fd4b6/resourcegroups/CalculoLomo/providers/Microsoft.ContainerRegistry/registries/CalculoLomo20210410140241</ResourceId>
    <ResourceName>CalculoLomo20210410140241</ResourceName>
    <ResourceGroup>CalculoLomo</ResourceGroup>
    <Subscription>Evaluación gratuita</Subscription>
    <RegistryUrl>https://calculolomo20210410140241.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>